WebContent/wsdl/ServiceClient.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://srv" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://srv" xmlns:intf="http://srv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://srv" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="find">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="findResponse">
    <complexType>
     <sequence>
      <element name="findReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="findRequest">

      <wsdl:part element="impl:find" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findResponse">

      <wsdl:part element="impl:findResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServiceClient">

      <wsdl:operation name="find">

         <wsdl:input message="impl:findRequest" name="findRequest">

       </wsdl:input>

         <wsdl:output message="impl:findResponse" name="findResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceClientSoapBinding" type="impl:ServiceClient">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="find">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceClientService">

      <wsdl:port binding="impl:ServiceClientSoapBinding" name="ServiceClient">

         <wsdlsoap:address location="http://localhost:7001/ServiceInvoker/services/ServiceClient"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
